<h3>Customize text and color</h3>  

  <p>Background:
  <input class="jscolor {onFineChange:'update(this, 1)'}" value="cc66ff">
  <p id="rect1" style="border:1px solid gray; width:161px; height:100px;">

  <p>Text:
  <input class="jscolor {onFineChange:'update(this, 2)'}" value="cc66ff">
  <p id="rect2" style="border:1px solid gray; width:161px; height:100px;">

  <p>Border:
  <input class="jscolor {onFineChange:'update(this, 3)'}" value="cc66ff">
  <p id="rect3" style="border:1px solid gray; width:161px; height:100px;">

  <script>
    function update(jscolor, id) {
        // 'jscolor' instance can be used as a string
        document.getElementById('rect' + id).style.backgroundColor = '#' + jscolor
    }
  </script>