<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'options')">Features</button>
  <button class="tablinks" onclick="openCity(event, 'custom_color_text')">Customize</button>
  <button class="tablinks" onclick="openCity(event, 'help')">Help</button>
</div>

<div id="options" class="tabcontent" style="display:block">
  <%= render 'options/form', option: @option %>
</div>

<div id="custom_color_text" class="tabcontent">
  <%= render 'colorpicker' %>
</div>

<div id="help" class="tabcontent">
  <h3>Instruction</h3>  
</div>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>